<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_learning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Elearning">
        <activity
            android:name=".signIn.student"
            android:exported="false" />
        <activity
            android:name=".signIn.teacher"
            android:exported="false" />
        <activity
            android:name=".signIn.activity_welcomefromsignin"
            android:exported="false" />
        <activity
            android:name=".forgotPassword.forgot_password"
            android:exported="false"
            android:parentActivityName=".signIn.activity_signin" />
        <activity
            android:name=".signUp.activity_signup"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".signIn.activity_signin"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>